@page "/account/changepassword"
@inject ILocalStorageService localStorage
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@inject IAccountService accountService


<div class="container">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <EditForm Model="ChangePasswordModel" OnValidSubmit="HandleChangePassword">
                    <DataAnnotationsValidator />

                    @if (ShowAuthenticationErrors)
                    {
                        <p class="text-center text-danger">@Errors</p>
                    }
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Hazırkı şifrə</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <InputText @bind-Value="ChangePasswordModel.CurrentPassword" type="password" class="form-control" placeholder="Hazırkı şifrə..." />
                            <ValidationMessage For="(()=>ChangePasswordModel.CurrentPassword)" style="margin-top: 0.5rem;" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Yeni şifrə</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <InputText @bind-Value="ChangePasswordModel.NewPassword" type="password" class="form-control" placeholder="Yeni şifrə..." />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Şifrəni təsdiqləyinə</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <InputText @bind-Value="ChangePasswordModel.ConfirmPassword" type="password" class="form-control" placeholder="Şifrəni təsdiqləyinə..." />
                            <ValidationMessage For="(()=>ChangePasswordModel.ConfirmPassword)" style="margin-top: 0.5rem;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9 text-secondary">
                            @if (IsProcessing)
                            {
                                <button type="submit" class="btn btn-success btn-block disabled"><i class="fas fa-sign-in-alt"></i> Zəhmət olmasa, gözləyin...</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary px-4">Yadda saxla</button>
                                <a href="account" class="btn btn-info px-4">Geri</a>
                            }
                            
                        </div>
                    </div>
                </EditForm>

            </div>
        </div>
    </div>
</div>


@code {

    public bool IsProcessing { get; set; } = false;
    public bool ShowAuthenticationErrors { get; set; }
    public string Errors { get; set; }

    public UserDTO UserDetails { get; set; } = new UserDTO();
    public ChangePasswordDTO ChangePasswordModel { get; set; } = new ChangePasswordDTO();

    protected override async Task OnInitializedAsync()
    {
        var userInfo = await localStorage.GetItemAsync<UserDTO>
                (SD.Local_UserDetails);

        UserDetails = await accountService.USerDetails(userInfo.Id);
    }


    private async Task HandleChangePassword()
    {
        var userInfo = await localStorage.GetItemAsync<UserDTO>
        (SD.Local_UserDetails);
        ChangePasswordModel.UserName = userInfo.Email;


        ShowAuthenticationErrors = false;
        IsProcessing = true;
        var result = await accountService.ChangePassword(ChangePasswordModel);
        if (result.IsAuthSuccessful)
        {
            IsProcessing = false;

            navigationManager.NavigateTo("account");
            await jsRuntime.ToastrSuccess("Şifrə dəyişdirildi");
        }
        else
        {
            IsProcessing = false;
            Errors = result.ErrorMessage;
            ShowAuthenticationErrors = true;
        }





    }



}
