.loading {
    position: fixed !important;
    background-color: #008acb;
    text-align: center;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000
}

    .loading .loader-gif {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -64px;
        margin-left: -64px;
    }

.spinner7 {
    width: 90px;
    height: 30px;
    text-align: center;
}

    .spinner7 > div {
        background-color: #fff;
        height: 15px;
        width: 15px;
        margin-left: 3px;
        border-radius: 50%;
        display: inline-block;
        -webkit-animation: stretchdelay .7s infinite ease-in-out;
        animation: stretchdelay .7s infinite ease-in-out;
    }

    .spinner7 .circ2 {
        -webkit-animation-delay: -0.6s;
        animation-delay: -0.6s;
    }

    .spinner7 .circ3 {
        -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s;
    }

    .spinner7 .circ4 {
        -webkit-animation-delay: -0.4s;
        animation-delay: -0.4s;
    }

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: translateY(-10px)
    }

    20% {
        -webkit-transform: translateY(-20px)
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px)
    }

    20% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px)
    }
}








.button {
    height: 50px;
    width: 200px;
    margin-left: 25%;
    background-image: none;
    border: none;
    outline: none;
    background-color: #FFCC00;
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

    .button::after {
        content: '';
        display: block;
        position: absolute;
        width: 160px;
        height: 40px;
        background-color: black;
        z-index: -1;
        left: calc(50% - 80px);
        top: 10px;
        opacity: 0.3;
        filter: blur(5px);
        transition: all 0.2s ease-out;
    }

    .button:hover::after {
        opacity: 0.5;
        filter: blur(20px);
        transform: translatey(10px) scalex(1.2);
    }

    .button:active {
        background-color: #dd4b4b;
    }

        .button:active::after {
            opacity: 0.3;
        }

.loadingmore {
    border-radius: 50px;
    width: 50px;
    left: calc(50vw - 25px);
}

.button.loadingmore::after {
    width: 40px;
    left: 5px;
    top: 12px;
    border-radius: 100%;
}

.spinner {
    display: block;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 8px;
    left: calc(50% - 17px);
    background: transparent;
    box-sizing: border-box;
    border-top: 4px solid white;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-radius: 100%;
    animation: spin 0.6s ease-out infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg)
    }
}