@inherits LayoutComponentBase
    @*<div id="blog_preloader_wrapper">
            <div id="blog_preloader_box">
                <div class="blog_loader">
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>*@


        <NavMenu />


        @Body


        <FooterMenu />
